<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img [src]="about"/>
      </div>
      <div class="col-md-7">
        <h2 class="about-head">عن الشركة</h2>
        <p>
          يتميز المول حقنا بأنه يحتوي علي جميع الفواكه والخضروات الطازجة والتي
          تكون من خير بلدنا وايضاً المنتجات المصدرة لنا من عدة دول مختلفة وفقاً
          للمواصفات القياسية من طعم ولون ورائحة وحجم يتميز المول حقنا بأنه يحتوي
          علي جميع الفواكه والخضروات الطازجة والتي تكون من خير بلدنا وايضاً
        </p>
        <button class="btn">اقرا المزيد</button>
      </div>
    </div>
  </div>
</section>
