section {
  text-align: right;
  padding: 100px 0;
  background-image: url(../../assets/img/about-bg.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  font-family: cairo;
  img {
    width: 325px;
    margin-top: -55px;
  }
  h2{
      font: {
          weight:bold;
          size:34px
      }
      margin-bottom: 32px;
  }
  p{
      margin:0 0 32px 0;
      line-height: 36px;
      font: {
          size:18px;
          weight:600
      }
  }
  button{
      background-image:linear-gradient(to right ,#468025 ,#57DB0B);
      color:#fff;
      padding:8px 28px;
      border:none;
      border-radius: 10px;
  }
}
