<!--start upper Nav -->
<div class="upper-nav">
  <div class="container">
    <div class="contact">
      <span><fa-icon [icon]="phone"></fa-icon>(00966)545341801</span>
      <span><fa-icon [icon]="envelope"></fa-icon>ex.example@gmail.com</span>
    </div>
    <div class="social">
      <a href ="#" ><fa-icon [icon]="facebook"></fa-icon></a>
      <a href="#"><fa-icon [icon]="youtube"></fa-icon></a>
      <a href="#"><fa-icon [icon]="twitter"></fa-icon></a>
    </div>
  </div>
</div>
<!--MainNan-->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img [src]="logo" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >الرئيسية <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">منتجاتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">عن الشركة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">مبيعاتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">فريقنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">عملاؤنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">اتصل بنا</a>
        </li>
      </ul>
      <div class="options">
        <div class="lang">
          <a href="#"><fa-icon [icon]="search"></fa-icon></a>
          <a href="#">ENGLISH</a>
        </div>
        <div class="user">
            <fa-icon [icon]='pasket'></fa-icon>
            <fa-icon [icon]='user'></fa-icon>
        </div>
      </div>
    </div>
  </div>
</nav>
